* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;
}

section.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #112d42;
    overflow: hidden;
}

section.contact::before {
    content: '';
    position: absolute;
    top: -100px;
    left: -5%;
    width: 55%;
    height: 130%;
    background: #FF4F65;
    transform: rotate(10deg);
}

section.contact .container {
    position: relative;
    width: 90%;
    min-height: 100vh;
    display: flex;
    z-index: 1000;
}

.contact .container .contactForm {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 9%;
    padding: 0 50px;
    width: calc(100% - 21%);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.contact .container .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.contact .container .contactForm .formBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.contact .container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.contact .container .contactForm .formBox .combine {
    display: flex;
    position: relative;
}

.contact .container .contactForm .formBox .combine .inputBox {
    width: 49%;
}

.contact .container .contactForm .formBox .combine .separateur {
    width: 2px;
    height: 40px;
    margin-left: 10px;
    background: #fff;
    transform: rotate(15deg);
}

.contact .container .contactForm .formBox .combine .inputBox.e1 span {
    transform: translateY(-15px);
}

.contact .container .contactForm .formBox .combine .inputBox.e2 span {
    padding-left: 10px;
}

.contact .container .contactForm .formBox .combine .inputBox.e3 {
    margin-top: 5px;
}

.contact .container .contactForm .formBox .combine .inputBox.e3 span {
    padding-left: 10px;
}

.contact .container .contactForm .formBox .inputBox input {
    width: 100%!important;
    padding: 5px;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    border: none;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
}

.contact .container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    opacity: 0.6;
    transition: 0.5s;
    pointer-events: none;
}

.contact .container .contactForm .formBox .inputBox span::after {
    content: ' *';
    display: none;
}

.contact .container .contactForm .formBox .inputBox input:focus+span,
.contact .container .contactForm .formBox .inputBox input:valid+span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FF4F65;
}

.contact .container .contactForm .formBox .inputBox input:focus+span::after,
.contact .container .contactForm .formBox .inputBox input:valid+span::after {
    display: inline;
}

.contact .container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.contact .container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background-color: #FF4F65;
}